.contact-tag {
  text-align: center;
}

/* body {
    background-image: url("https://image.freepik.com/free-photo/green-cocktail-with-slice-lime-wasabi-black-background_78820-72.jpg");
    background-repeat: no-repeat;
    background-size: cover
}  */
